body{
	margin:0;
	padding:0;
	font-family: 'Lato', sans-serif;
}
.header{
	padding-top:40px;
	padding-bottom:75px;
	width: 100%;
	height:50px;
	background-color:rgba(50,50,50,.75);
	border-bottom: 2px solid black;
	position:fixed;
	top:0;
	z-index: 1;
	text-align: center;
}
#firstHeader{
	padding-top:40px;
	padding-bottom:10px;
	width: 100%;
	height:50px;
	background-color:rgba(50,50,50,0);
	position:fixed;
	top:0;
	z-index: 1;
	text-align: center;
}
.pageLink{
	font-size: 165%;
	margin-left: 5%;
	margin-right: 5%;
	color: rgb(0,100,255);
	text-decoration: underline;
}
.pageLink:link {
}
/* visited link */
.pageLink:visited {
}
/* mouse over link */
.pageLink:hover {
    text-decoration: underline;
}
/*
#aboutLink:hover {
	font-size: 155%;
}
#portLink:hover {
	font-size: 155%;
}
#resLink:hover {
	font-size: 155%;
}
*/
/* selected link */
.pageLink:active {
    color: blue;
}
#gitLink{
	font-weight: bold;
	color:blue;
	margin-left: 48%;
}
#gitLink:link{
	text-decoration: none;
}
#gitLink:hover{
	color: #FFFF2E;
    text-decoration: underline;
}
.body{
	margin-top: 100px;
	background-color:rgba(192,192,192,0.5);
	margin-left: 15%;
	margin-right:15%;
	position:relative;
	font-size:18px;
}
.iconImg{
	position:absolute;
	left:0;
	padding-left:2%;
	margin-top:-30px;
	height:150px;
	width:200px;
}
#aboutMeBackground{
	bottom: 0;
	overflow: auto;
	background-image:url("images/7.jpg");
}
.container{
	position:absolute;
	top:0;
	bottom: 0;
	overflow: auto;
	height: 100%;
	background-image:url("images/background4.jpg");
}
#containerNew{
	background-image:url(images/UF.png);
	background-size: 100% 100%;
}
#me{
	padding-top:5%;
	padding-left:25%;
}
#picture{
	margin:auto;
	background-image:url('images/MePool2.jpg');
	width:80%;
	height:90%;
	background-size:100% 100%;
	margin-top: 50px;
	border-bottom: 2px solid black
}
#aboutandcontact{
	font-size: 120%;
	font-weight: bold;
	padding-top:2%;
	padding-left: 17%;
	padding-right:15%;
}
#eventsandmembers{
	font-size: 120%;
	font-weight: bold;
	padding-top:2%;
	padding-left: 30%;
	padding-right:15%;
}
#resume{
	padding-top:5%;
	padding-bottom:5%;
}
#resumeBody{
	text-align: center;
}
.folioHeader{
	font-family: 'Abril Fatface', cursive;
	font-family: 'Fontdiner Swanky', cursive;
	font-size: 400%;
}
.headerBreak { 
  margin-top: -15px;
  border : 0;
  height: 3px; 
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); 
} 

.subHeaderBreak{
  margin-top: -60px;
  margin-bottom: 5%;
  width: 50%;
  float: left;
  border: 0;
  border-top: 2px solid #8c8c8c;
  border-bottom: 2px solid #8c8c8c;;
  box-shadow: 0 0 10px 1px black;
}
.folioPiece{
	text-align: center;
	font-weight: bold;
	border-bottom:1px solid black;
	font-size: 120%;
	padding:2%;
	padding-bottom:5%;
	padding-top:5%;
}
.subFolioCategory{
	text-align: left;
	font-family: 'Pacifico', cursive;
	margin-left: 1%;
	margin-top: 0;
	font-size: 225%;
	color:rgb(10,10,35);
	font-weight: bold;
}
.codeUsed{
	color:rgb(10,10,55);

}
#tdPic{
	margin-right: 2%;

}
#description{
	width: 30%;
	position:relative;
	float:right;
}
.caPic{
	margin-left: 3%;
	border:2px solid black;
}

#description2{
	padding-left:5%;
	width: 45%;
	position:relative;
	display: inline-block;
}
#art{
	display:inline-block;
	margin-left: 75%;
	margin-top:-35%;
}
.codeLink{
	color: blue;
}
.linkedIn{
	width:60px;
	height:60px;
	padding-left: 2%;
	text-align: center;
	margin-bottom: 1%;
}
